#footer{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color:#f1f1f1;
    z-index: 10;
    >div{
        width: 20%;
        min-width: 230px;
        height: 250px;
        h4{
            padding: 10px 0;
        }
        a{
            display: block;
            padding: 5px 0;
            text-decoration: none;
            color: rgb(117, 115, 115);
        }
        p{
            width: 80%;
            padding: 10px 0;
        }
  
    }
}
.copyRight{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: #4d4747;
        color: #fff;
        padding: 0 3%;
        a{
            text-decoration: none;
            color: #bdbdbd;
        }
}
.footerIcon{
    margin: 5px 2px;
    padding: 10px;
    font-size: 40px;
    background-color:transparent;
    color: #707070;
    border-radius: 40%;
    cursor: pointer;
    &:hover{
        color: black;
    }
}