.home {
  // padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  width: 100%;

   h1 {
    @include heading(1px);
    margin: 3rem 0 1rem;
    @include flex(row, space-between, center);
  }

  .findmore {
    font-size: 1rem;
  }

  > main {
    width: 100%;
    flex: 1;
    gap: 1rem;
  }
.slide-container{
  background-position: center;
  background-size:cover;
  height: 90vh;
  overflow: hidden;

  .container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
    }
    .container {
      overflow: hidden;
    }

    .text {
      font-size: 7.3rem;
      letter-spacing: -.01em;
      line-height: 100%;
      
      color: rgb(182, 182, 182, 0.2);
      background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;
      transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
      // border-bottom: 1px solid #2F2B28;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
    }
  p{
    display:inline-block;
    margin:0 40% 0 15%;
  }
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #464646;
      display:inline-block;
      padding: 0 40% 0 15%;
      color: #d4d4d4;
      
      clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
      transform-origin: center;
      transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .text:hover > span {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .text:hover > p{
      opacity: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.homeProducts{
  padding:0 40px;
}

.featuredProducts{
  display: flex;
  flex-direction: column;
  @include heading(1px);
  > p{
    font-size: 2rem;
    margin:30px auto ;
  }  
  main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
}
