.home {
  // padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  width: 100%;

   h1 {
    @include heading(1px);
    margin: 3rem 0 1rem;
    @include flex(row, space-between, center);
  }

  .findmore {
    font-size: 1rem;
  }

  > main {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
  
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
.slide-container{
  background-position: center;
  background-size:cover;
  height: 90vh;
  overflow: hidden;

  .container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
    }
    .container {
      overflow: hidden;
    }


    .text {
      font-size: 7.3rem;
      letter-spacing: -.01em;
      line-height: 100%;
      
      color: rgb(182, 182, 182, 0.2);
      background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;
      transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
      // border-bottom: 1px solid #2F2B28;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
    }
  p{
    display:inline-block;
    margin:0 40% 0 15%;
  }
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #464646;
      display:inline-block;
      padding: 0 40% 0 15%;
      color: #d4d4d4;
      
      clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
      transform-origin: center;
      transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .text:hover > span {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .text:hover > p{
      opacity: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}


.wrapper{
  width: 240px;
  height: 365px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0;
  transform: scale(0.90);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(.95);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  .container{
    width:100%;
    height:100%;
    overflow: hidden;
    .top img{
      height: 280px;
      width:100%;
    }
    .bottom{
      width: 100%;
      height: 85px;
      transform: translateY(-5px);
      transition: transform 0.5s;
      p{
        font-size: 15px;
        font-weight: 500;
        margin: 0%;

      }
      .left{
        height:100%;
        width: 100%;
        background: #f4f4f4;
        .details{
          padding: 10px;
          float: left;
          width: 70%;
        }
        .buy{
          width: 26%;
          float:right;
          height:100%;
          background: #f1f1f1;
          transition: background 0.5s;
          border-left:solid thin rgba(0,0,0,0.1);
          svg{
            font-size:26px;
            margin:34% 30%;
            color: #254053;
            transition: transform 0.5s;
          }
          &:hover{
            background: #A6CDDE;
          }
          &:hover svg{
            transform: translateY(5px);
            color:#00394B;
          }
        }
      }
    }
  }
  
  .inside{
    z-index:9;
    background: #92879B;
    width:130px;
    height:130px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon{
      position:absolute;
      right:85px;
      top:85px;
      color:white;
      opacity: 1;
    }
    &:hover{
      width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:80%;
      .icon{
        opacity: 0;
        right:15px;
        top:15px;
      }
      .contents{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents{
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      table{
        text-align:left;
        width:100%;
      }
      h1, p, table{
        color: white;
      }
      p{
        font-size:13px;
      }
    }
  }
}
.featuredProducts{
  padding: 2rem 30px;
  display: flex;
  flex-direction: column;
  @include heading(1px);
  p{
    font-size: 32px;
    margin:30px auto ;
  }  
  main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
}